#foto {
    height: 100px;
    width: 100px;  
}

body {
    font-family: Arial, sans-serif;
}
.contenedor {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid blue;
}

.contenedor header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

h1 {
    font-weight: bold;
    color: blue;
}
h2 {
    font-family: sans-serif;
}

h3 {
    margin-left: 30px;
}

p {
    font-size: 16px;
    margin: 20px;
}

section{
    border: 2px solid rgb(70, 70, 156);
    background-color: rgb(170, 240, 240);
    margin: 10px;
    padding: 10px;
}

#js{
    display: flex;
    justify-content: space-around;
}

#saludo{
    display: none;
    justify-content: center;
    color: beige;
}

